// Тобі потрібні тільки наступні властивості:

// name.official - повна назва країни
// capital - столиця
// population - населення
// flags.svg - посилання на зображення прапора
// languages - масив мов

<div class="country-info">
    <div class="flag">
        <img src="{{flags.svg}}" alt="{{flags.alt}}">
    </div>
    <div class="country-info">
        <h1 class="country-info__name">{{name.official}}</h1>
        <p class="country-info__capital">{{capital}}</p>
        <p class="country-info__population">{{population}}</p>

        <p class="country-info__languages"></p>
        <ul class="languages-list"></ul>
        {{#each languages}}
            
                <li class="languages-list__item">{{languge}}</li>
            
        {{/each}}
        </ul>
    </div>
</div>